@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: 0.3s ease;
}

div#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: overlay;
  font-size: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(198, 47, 47);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(117, 20, 20);
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.2rem;
  line-height: 2.6rem;
}
p {
  font-size: 1rem;
}

.tag {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}
